// LIGHT THEME
$color-light-gray-100: hsl(0, 0%, 98%);
$color-light-gray-200: hsl(236, 33%, 92%);
$color-light-gray-300: hsl(233, 11%, 84%);
$color-light-gray-400: hsl(236, 9%, 61%);
$color-light-gray-500: hsl(235, 19%, 35%);


// DARK THEME
$color-dark-blue-900: hsl(235, 21%, 11%);
$color-dark-blue-800: hsl(235, 24%, 19%);

$color-dark-gray-100: hsl(236, 33%, 92%);
$color-dark-gray-200: hsl(234, 39%, 85%);
$color-dark-gray-300: hsl(234, 11%, 52%);
$color-dark-gray-400: hsl(233, 14%, 35%);
$color-dark-gray-500: hsl(237, 14%, 26%);